@import url('./__item/photo-grid__item.css');

.photo-grid {
    width: 100%;
    display: grid;
    grid-gap: 16px;
    margin: 0 auto;
    max-width: 1184px;
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        grid-template-columns: repeat(4, 4fr);
    }  
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
    }  
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .photo-grid {
        grid-template-columns: repeat(2, 2fr);
    }  
}

@media (max-width: 767px) {
    .photo-grid {
        grid-template-columns: repeat(1, 1fr);
    }  
}