.cover__wrap {
    background-image: url('./../../../images/cover.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    display: block;
}

.cover__wrap:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: 0;
}

.cover__wrap:hover.cover__wrap:after {
    opacity: 0.8;
    transition: opacity 0.4s ease-out;
}


@media screen and (min-width: 1280px) {
    .cover__wrap {
        width: 100%;
        padding-bottom: 50.17%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover__wrap {
        width: calc(100% + 96px);
        padding-bottom: calc(562/928 * 100%);
        margin-left: -48px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover__wrap {
        width: calc(100% + 48px);
        padding-bottom: calc(500/720 * 100%);
        margin-left: -24px;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .cover__wrap {
        width: calc(100% + 32px);
        padding-bottom: calc(272/343 * 100%);
        margin-left: -16px;
    }
}

@media screen and (max-width: 374px) {
    .cover__wrap {
        width: calc(100% + 32px);
        padding-bottom: calc(216/288 * 100%);
        margin-left: -16px;
    }
}