.comments__caption {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
}

@media screen and (max-width: 1023px) {
    .comments__caption {
        order: 2;
        margin-bottom: 24px;
    }
}