.intro__item {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 20px;
}

@media screen and (max-width: 767px) {
    .intro__item {
        font-size: 12px;
        line-height: 19px;
    }
}