@import url('./_selected/header__lang_selected.css');

.header__lang {
    font-size: 24px;
    line-height: 23px;
    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .header__lang {
        font-size: 18px;
        line-height: 96.82%;
    }
}