.comments__photo {
    max-width: 98px;
    max-height: 98px;
    border-radius: 49px;
    margin-bottom: 42px;
}

@media screen and (max-width: 1023px) {
    .comments__photo {
        margin: 0 auto 16px;
    }
}