.comments__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

@media screen and (max-width: 1023px) {
    .comments__container {
        flex-direction: column;
        align-items: center;
    }
}