.cover__caption {
    color: #FFF;
    text-align: center;
    text-decoration: none;
    margin: 0;
    z-index: 1;
}

@media screen and (min-width: 1024px) {
    .cover__caption {
        font-size: 18px;
        line-height: 26px;
        max-width: 382px;
        white-space: normal;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover__caption {
        font-size: 18px;
        line-height: 26px;
        max-width: 365px;
        white-space: normal;
    }
}

@media screen and (max-width: 767px) {
    .cover__caption {
        font-size: 14px;
        line-height: 17px;
        max-width: 278px;
        white-space: pre-wrap;
    }
}