.video__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@media screen and (min-width: 1280px) {
    .video__content {
        padding: 30px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .video__content {
        padding: 30px 30px 35px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .video__content {
        padding: 24px;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .video__content {
        padding: 24px;
    }
}

@media screen and (max-width: 374px) {
    .video__content {
        padding: 16px;
    }
}