@import url('./__title/video__title.css');
@import url('./__subtitle/video__subtitle.css');
@import url('./__container/video__container.css');
@import url('./__item/video__item.css');
@import url('./__content/video__content.css');
@import url('./__icon/video__icon.css');
@import url('./__duration/video__duration.css');
@import url('./__item-title/video__item-title.css');
@import url('./__item-subtitle/video__item-subtitle.css');

.video {
    font-family: 'Inter', Arial, sans-serif;
    margin-bottom: 102px;
}

@media screen and (max-width: 767px) {
    .video {
        margin-bottom: 64px;
    }
}