@import url('./__logo/header__logo.css');
@import url('./__langs/header__langs.css');
@import url('./__li/header__li.css');
@import url('./__lang/header__lang.css');

.header {
    font-family: 'Inter', Arial, sans-serif;
    padding-top: 30px;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
    .header {
        padding-top: 16px;
    }
}
