@import url('../lead/lead.css');
@import url('../intro/intro.css');
@import url('../photo-grid/photo-grid.css');
@import url('../places/places.css');
@import url('../place/place.css');
@import url('../video/video.css');
@import url('../comments/comments.css');
@import url('../cover/cover.css');

.content {
    font-family: 'Inter', Arial, sans-serif;
}