@media screen and (min-width: 1024px) {
    .place__text {
        font-size: 18px;
        line-height: 30px;
        width: 100%; 
    }
}

@media screen and (min-width: 375px) and (max-width: 1023px) {
    .place__text {
        font-size: 16px;
        line-height: 27px;
        width: 100%; 
    }
}

@media screen and (max-width: 374px) {
    .place__text {
        font-size: 16px;
        line-height: 169.43%;
    }
}