.comments__title {
    font-weight: 900;
    text-align: center;
    max-width: 800px;
}

@media screen and (min-width: 1280px) {
    .comments__title {
        font-size: 72px;
        line-height: 108.9%;
        margin: 0 auto 48px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .comments__title {
        font-size: 72px;
        line-height: 65px;
        margin: 0 auto 48px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .comments__title {
        max-width: 620px;
        font-size: 42px;
        line-height: 46px;
        margin: 0 auto 24px;
    }
}

@media screen and (max-width: 767px) {
    .comments__title {
        max-width: 420px;
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto 16px;
    }
}