@import url('./_kamchatka/video__item_kamchatka.css');
@import url('./_observatory/video__item_observatory.css');

.video__item {
    border-radius: 5px;
    position: relative;
    display: block;
}

.video__item:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    background-color: #000;
    opacity: 0.5;
    z-index: 0;
}

.video__item:hover.video__item:after {
    opacity: 0.8;
    transition: opacity 0.4s ease-out;
}

@media screen and (min-width: 1280px) {
    .video__item {
        width: 100%;
        height: 323px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .video__item {
        width: 100%;
        padding-bottom: calc(288/456 * 100%);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .video__item {
        width: 100%;
        padding-bottom: calc(200/352 * 100%);
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .video__item {
        width: 100%;
        padding-bottom: calc(200/343 * 100%);
    }
}

@media screen and (max-width: 374px) {
    .video__item {
        width: 100%;
        padding-bottom: calc(192/288 * 100%);
    }
}
