.lead__title {
    margin: 0 auto 48px;
    max-width: 782px;
    text-align: center;
    font-weight: 900;
    font-size: 96px;
    line-height: 93px;
}

@media screen and (max-width: 767px) {
    .lead__title {
        margin: 0 auto 8px;
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}