.comments__subtitle {
    font-weight: normal;
    text-align: center;
    max-width: 640px;
}

@media screen and (min-width: 1024px) {
    .comments__subtitle {
        margin: 0 auto 71px;
        font-size: 24px;
        line-height: 35px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .comments__subtitle {
        margin: 0 auto 66px;
        font-size: 24px;
        line-height: 35px;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .comments__subtitle {
        margin: 0 auto 42px;
        font-size: 16px;
        line-height: 23px;
    }
}

@media screen and (max-width: 374px) {
    .comments__subtitle {
        margin: 0 auto 34.06px;
        font-size: 16px;
        line-height: 23px;
    }
}