.header__li {
    list-style-type: none;
    margin-right: 18px;
}

.header__li:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 767px) {
    .header__li {
        margin-right: 16px;
    }
}