.video__title {
    font-weight: 900;
    text-align: center;
    max-width: 800px;
}

@media screen and (min-width: 1024px) {
    .video__title {
        font-size: 72px;
        line-height: 78px;
        margin: 0 auto 48px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .video__title {
        max-width: 600px;
        font-size: 42px;
        line-height: 46px;
        margin: 0 auto 24px;
    }
}

@media screen and (max-width: 767px) {
    .video__title {
        max-width: 343px;
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto 16px;
    }
}