.lead__wrap {
    width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead__wrap {
        width: calc(100% + 48px);
        margin-left: -24px;
        margin-right: -24px;
    }
}

@media screen and (max-width: 767px) {
    .lead__wrap {
        width: calc(100% + 32px);
        margin-left: -16px;
        margin-right: -16px;
    }
}