.intro__text {
    margin: 0 0 24px;
    font-size: 14px;
    line-height: 24px;
}

@media screen and (min-width: 1280px) {
    .intro__text {
        max-width: 683px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .intro__text {
        max-width: 692px;
    }
}

@media screen and (max-width: 1023px) {
    .intro__text {
        width: 100%;
    }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
    .intro__text {
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 320px) {
    .intro__text {
        font-size: 16px;
        line-height: 169.43%;
        margin-bottom: 32px;
    }
}