@media screen and (min-width: 1280px) {
    .place__img {
        max-width: 460px;
        max-height: 460px;  
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place__img {
        width: 100%; 
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__img { 
        width: 100%; 
    }
}

@media screen and (max-width: 767px) {
    .place__img {
        max-width: 767px;
        max-height: 100%;
        margin-bottom: 24px;
        width: calc(100% + 32px);
        margin-left: -16px;
    }
}