@media screen and (min-width: 1024px) {
    .comments__item {
        width: calc((100% - 19px*2)/3);
    }
}

@media screen and (max-width: 1023px) {
    .comments__item {
        max-width: 382px;
        margin-bottom: 47px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .comments__item:last-of-type {
        margin-bottom: 0;
    }
}