@import url('./__title/emblem__title.css');
@import url('./__container/emblem__container.css');
@import url('./__item/emblem__item.css');
@import url('./__img/emblem__img.css');
@import url('./__caption/emblem__caption.css');

.emblem {
    font-family: 'Inter', Arial, sans-serif;
    margin-bottom: 85px;
}