.lead__subtitle {
    max-width: 583px;
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
}

@media screen and (min-width: 1280px) {
    .lead__subtitle {
        margin: 0 auto 78px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead__subtitle {
        margin: 0 auto 65px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead__subtitle {
        margin: 0 auto 78px;
        max-width: 650px;
    }
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        margin: 0 auto 31px;
        max-width: 273px;
        font-size: 16px;
        line-height: 23px;
    }
}