@media screen and (min-width: 1280px) {
    .lead__img {
        width: 100%;
        margin-bottom: 10.87px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead__img {
        width: 100%;
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead__img {
        width: 100%;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 767px) {
    .lead__img {
        width: 100%;
        margin-bottom: 8px;
    }
}