@media screen and (min-width: 1024px) {
    .comments__quote {
        margin: 0 0 24px;
        font-size: 14px;
        line-height: 24px;
    }
}

@media screen and (max-width: 1023px) {
    .comments__quote {
        margin: 0;
        order: 3;
        font-size: 16px;
        line-height: 23px;
    }
}

    