.video__subtitle {
    font-weight: normal;
    text-align: center;
    max-width: 640px;
}

@media screen and (min-width: 1280px) {
    .video__subtitle {
        margin: 0 auto 72px;
        font-size: 24px;
        line-height: 35px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .video__subtitle {
        margin: 0 auto 73px;
        font-size: 24px;
        line-height: 35px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .video__subtitle {
        margin: 0 auto 56px;
        font-size: 24px;
        line-height: 35px;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .video__subtitle {
        max-width: 330px;
        margin: 0 auto 24px;
        font-size: 16px;
        line-height: 23px;
    }
}

@media screen and (max-width: 374px) {
    .video__subtitle {
        font-size: 16px;
        line-height: 23px;
    }
}