.place__heading-url {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #AAAAAA;
    margin-top: 0px;
    margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
    .place__heading-url {
        display: none;
    }
}