.additional__place_nvrssk {
    background-image: url('./../../../../images/nvrssk.jpg');
    max-width: 284px;
    max-height: 330px;
    background-size: contain;
    background-repeat: no-repeat;
}