@import url('./_nvrssk/additional__place_nvrssk.css');
@import url('./_shickan/additional__place_shickan.css');
@import url('./_cherepovets/additional__place_cherepovets.css');
@import url('./_nikola/additional__place_nikola.css');

.additional__place {
    width: 284px;
    height: 330px;
    border-radius: 5px;
    position: relative;
}

.additional__place:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    background-color: #000;
    opacity: 0.5;
    z-index: 0;
}

.additional__place:hover.additional__place:after {
    opacity: 0.8;
    transition: opacity 0.4s ease-out;
}