@import url('../header/header.css');
@import url('../content/content.css');
@import url('../footer/footer.css');
@import url('../../fonts/inter/inter.css');
@import url('../hover-opacity/hover-opacity.css');

.container {
    min-width: 320px;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    color: #FFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

@media screen and (min-width: 1281px) {
    .container {
        max-width: 1184px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .container {
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
}