@import url('./__title/barentsburg__title.css');
@import url('./__coordinates/barentsburg__coordinates.css');
@import url('./__img/barentsburg__img.css');
@import url('./__two-columns/barentsburg__two-columns.css');
@import url('./__text/barentsburg__text.css');
@import url('./__website/barentsburg__website.css');
@import url('./__heading-url/barentsburg__heading-url.css');
@import url('./__link/barentsburg__link.css');

.barentsburg {
    font-family: 'Inter', Arial, sans-serif;
}