@import url('./__title/place__title.css');
@import url('./__website/place__website.css');
@import url('./__heading-url/place__heading-url.css');
@import url('./__link/place__link.css');
@import url('./__img/place__img.css');
@import url('./__text/place__text.css');
@import url('./__paragraph/place__paragraph.css');
@import url('./__column/place__column.css');

.place {
    display: grid;
    grid-template-columns: 460px auto;
    grid-template-rows: auto;
    grid-column-gap: 40px;
    grid-row-gap: 60px;
    margin-bottom: 72px;
}

.place:last-of-type {
    margin-bottom: 0px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place {
        grid-row-gap: 40px;
        grid-column-gap: 32px;
        grid-template-columns: calc(49.138% - 16px) calc(49.138% - 16px);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place {
        grid-row-gap: 40px;
        grid-column-gap: 28px;
        margin-bottom: 81px;
        grid-template-columns: calc(49.168% - 14px) calc(49.168% - 14px);
    }

    .place:last-of-type {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        display: flex;
        flex-direction: column;
        margin-bottom: 48px;
    }

    .place:last-of-type {
        margin-bottom: 0px;
    }
}