.video__container {
    display: grid;
    align-items: center;
    width: 100%;
}

@media screen and (min-width: 1280px) {
    .video__container {
        grid-template-columns: repeat(auto-fill, 583px);
        grid-column-gap: 18px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .video__container {
        grid-template-columns: calc(50% - 8px) calc(50% - 8px);
        grid-column-gap: 16px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .video__container {
        grid-template-columns: calc(50% - 8px) calc(50% - 8px);
        grid-column-gap: 16px;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .video__container {
        grid-template-rows: 1 1;
        grid-row-gap: 8px;
    }
}

@media screen and (max-width: 374px) {
    .video__container {
        grid-template-rows: 1 1;
        grid-row-gap: 8px;
    }
}