.cover__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@media screen and (min-width: 1280px) {
    .cover__content {
        padding: 274px 86px 48px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover__content {
        padding: 211px 190px 48px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover__content {
        padding: 165px 160px 40px;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .cover__content {
        padding: 104px 50px 24px;
    }
}

@media screen and (max-width: 374px) {
    .cover__content {
        padding: 64px 20px 24px;
    }
}