.intro__title {
    margin-top: 0;
    margin-bottom: 48px;
    font-weight: 900;
    font-size: 54px;
    line-height: 59px;
}

@media screen and (max-width: 767px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 375px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 32px;
        max-width: 230px;
    }
}